name: ci

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '16 17 * * 0'

jobs:
  build-and-push:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main'}}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/node-chrome-ja:latest
